
/****CAROSELLO RULES****/

.body-carosello{
    background-image: url(../img/sfondo.jpg);
    background-size: cover;
  }
  
  .carosello {
    position: relative;
  }
  
  .carosello__arrow {
    position: absolute;
    font-size: 70px;
    color: white;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carosello__arrow.arrow-left {
    left: 330px;
  }
  
  .carosello__arrow.arrow-right {
    right: 330px;
  }


  
  /***SLIDE RULES***/
  .slide img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
  }
  
  .slide.active {
    display: block;
  }
  
  .slide {
    display: none;
  }
  
  
  
  .slide {
    position: relative;
  }
  
  .slide img {
    display: block;
  }
  
  .slide h2 {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 0;
  }
  
  .slide p {
    position: absolute;
    top: 60px;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 30px;
    margin: 0;
    width: 800px;
  }